<link rel=StyleSheet href="login.css" type="text/css">
<body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Inicio de Sesion React</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Nombre de Usuario" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="#">Iniciar Sesion</a>
				<a class="login-link" href="#">Olvido su Contraseña?</a>
			</div>
		</div>
	</div>
</body>